<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .active {
      color: red;
    }
  </style>
</head>

<body>
  <script src="js/vue.js"></script>
  <div id="app">
    <h2>简单遍历</h2>
    <ul>
      <li v-for="(item, index) in message">{{item}}-{{index}}</li>
    </ul>
    <h2>获取value与key的遍历，value是值，key是属性</h2>
    <ul>
      <li v-for="(value, key) in message">{{value}}-{{key}}</li>
    </ul>
    <h2>获取value与key与index的遍历，value是值，key是属性，index是索引值</h2>
    <ul>
      <li v-for="(value, key, index) in message">{{value}}-{{key}}-{{index}}</li>
    </ul>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        message: {
          name: 'Hello',
          age: 22,
          height: 175
        }
      }
    })
  </script>

</body>

</html>